@(user: Form[User])

@import helper._

@import b3.vertical.fieldConstructor
@main("Contul Meu"){
    <div class="container">
        <h3>Contul Meu</h3>
        <ul class="nav nav-tabs">
            <li class="active"><a href="@routes.UserController.edit(Long.parseLong(session.get("user_id")))">Cont</a></li>
            <li><a href="@routes.UserController.anunturi(Long.parseLong(session.get("user_id")))">Anunturile Mele</a></li>
        </ul>
        <br>
        @b3.form(routes.UserController.update()) {
            @b3.text(user("nume"), '_label -> "Nume", '_help -> "")
            <input type="hidden" name="id" value="@session.get("user_id")"/>
            @b3.text(user("prenume"), '_label -> "Prenume", '_help -> "")
            @b3.text(user("telefon"), '_label -> "Telefon", '_help -> "")
            @b3.email(user("email"), '_label -> "Email", '_help -> "")
            @b3.password(user("parola"), '_label -> "Parola", '_help -> "")
            <div class="form-group ">
                <button type="submit" class="btn btn-primary btn-lg btn-block login-button">Modifica</button>
            </div>
        }
    </div>
}